 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Pacifico&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Fasthand&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Ubuntu:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 #font {
      font-family: 'Ubuntu', sans-serif;
 }
 #title {
      font-family: 'Alkatra', cursive;
 }
 #lobster{
      font-family: 'Lobster Two', cursive;
 }
 #main{
     font-family: 'Playfair Display', serif;
 }